<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Top U.S. Symptoms </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/plotly.css"> -->
  <link rel="stylesheet" href="../static/css/d3Style.css">
</head>
<body>
<!-- 3D Animation with Zdog -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <canvas class="zdog-text" width="400" height="120"></canvas>
      </div>
    </div>
  </div>
  <div class = "container">
    <div class="row">
      <div class="col-md-5">
        <div class="well">
          <h5>Dose Series: </h5>
          <select id="selDataset">
            <option value="dose1">Dose Series 1</option>
            <option value="dose2">Dose Series 2</option>
            <option value="doseunk">Dose Series Unknown</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class = "container">
    <div class = "row">
      <div id = "title" class = "col-md-12">
        <h5><b>Symptom Probability When Symptoms Become Present</b></h5>
      </div>
    </div>
  </div>
  <div id="pie"></div>
  <div class = "container">
    <div class = "row">
      <div id = "disclaimer" class = "col-md-12">
        <footer>
          <p>* Percentage is based off of people that have reported symptoms ONLY. Data does not take into account those that did not have symptoms or did not report symptoms. To put into perspective this dataset contains ~5000 recorded symptoms, whereas total vaccinations up to the same date is ~24,652,634.</p>
        </footer>
      </div>
    </div>
  </div>

  <!-- D3.js CDN -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
  <script type="text/javascript" src="../static/js/plotly.js"></script>
  <!-- 3D Animation with Zdog -->
  <script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
  <script src="../static/js/3dtext.js"></script>
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>