.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/c19sumimg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-image-1 {
  width: 412px;
  height: 412px;
  margin: -9px auto 0 344px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -275px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -115px 0 60px auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -203px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 70px -16px 0 16px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 9px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 379px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  width: 1140px;
  margin: 80px -10px 0 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-2 .u-image-1 {
  width: 200px;
  height: 200px;
  background-image: url("images/leonard.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 9px;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px -5px 0 7px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 200px;
  background-image: url("images/yuying.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 9px;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px -5px 0 7px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-image-3 {
  width: 200px;
  height: 200px;
  background-image: url("images/paola.jpg");
  background-position: 50% 0%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 9px;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px -5px 0 7px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-image-4 {
  width: 200px;
  height: 200px;
  background-image: url("images/navi.jfif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 9px;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px -5px 0 7px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: -94px auto 0 60px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: -49px auto 0 349px;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: -51px 332px 0 auto;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: -46px 45px 60px auto;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    min-height: 262px;
    height: auto;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -212px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -212px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -212px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -212px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-2 {
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-2 .u-list-1 {
    min-height: 803px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -242px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 165px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 232px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 769px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-left: 176px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-right: 176px;
  }
}