<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Second Chart</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="chart">
		</div>
        <!-- Load d3.js & color palette-->
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

        <!-- Create a div where the graph will take place -->
        <div id="my_dataviz"></div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<script type="text/javascript" src="./js/app.js"></script>
  </body>
</html>