<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Second Chart</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/d3Style.css">
	</head>
	<body>
		<div class="chart">
		</div>
        <!-- Load d3.js & color palette-->
		<script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<script type="text/javascript" src="../static/js/test.js"></script>
  </body>
</html>