<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <!-- 3D Animation with Zdog -->
    <div>
        <canvas class="zdog-text" width="400" height="120"></canvas>
    </div>

    <!-- 3D Animation with Zdog -->
    <script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
    <script src="../static/js/3dtext.js"></script>
</body>
</html>