.zdog-canvas {
    cursor: move;
    padding-left: 400px;
    padding-top: 10px;
    position:relative;
    float:left;
}

html { height: 100%; }

body{
    background-color: rgb(202, 207, 205);
}

#my-svg{
    position: relative;
    float: left;
}

