/* zdog */
.zdog-canvas {
    cursor: move;
    padding-left: 460px;
    padding-top: 60px;
    position:relative;
    float:left;
}

html { height: 100%; }

/* body{
    background-color: rgb(202, 207, 205);
} */
/* vivus */
#my-svg{
    padding-top: 20px;
    position: relative;
    float: left;
}